name: Synchronisation avec Gitlab

on:
  push:
    branches:
      - master
      
jobs:
  push-to-gitlab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Push to GitLab
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          git remote add gitlab https://oauth2:${GITLAB_TOKEN}@gitlab.com/sebastienp7669/Thinkerview-Recommandations-lecture.git
          git push gitlab master
